body {
    text-align: center;
    margin: 0;
    padding: 0;
}

a {
    color: #2c3e50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}
.wrap {
    text-align: left;
}
.site-title {
    color: #16a085;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
}

.site-title a {
    color: #34495e;
    text-decoration: none;
}
.site-nav {
    padding: 16px 0;
    border-top: 2px solid #ecf0f1;
    border-bottom: 2px solid #ecf0f1;
    text-align: center;
}
.site-nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #7f8c8d;
    padding: 0 16px;
}
/**/
a.post-link,
a.post-link:hover {
    text-decoration: none;
}

.post-title,
.post-header h1 {
    color: #1abc9c;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 36px;
    margin: 40px 0 0;
}
.post-meta {
    margin: 0;
    color: #95a5a6;
    font-size: 16px;
    font-style: italic;
    font-family: 'Source Sans Pro', sans-serif;
}
.post-summary,
.post-content {
    color: #7f8c8d;
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
}
/*pagination*/
.pagination {
    border-top: 2px solid #ecf0f1;
    padding: 16px 0;
    text-align: center;
}
.pagination-item {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #7f8c8d;
    padding: 0 16px;
}
.pagination-item.disabled {
    color: #ecf0f1;
}
/*footer*/
footer {
    margin-top: 40px;
    padding: 16px 0;
    background: #ecf0f1;
    font-family: 'Source Serif Pro', serif;
    color: #95a5a6;
}

