---
layout: page
title: Work
level: 1
---

<!-- This loops through the paginated posts -->
<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
     {% if post.status != 'unpublish' and post.layout == 'project' %}
      <li>
          <span class="post-meta">{{ post.startdate | date: "%b %Y" }} - {{ post.enddate | date: "%b %Y" }} | {{ post.client }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
