---
layout: default
---

{% include header.html %}
<div class="wrapper">
    {% include breadcrumbs.html %}
</div>
<div class="page-content">

    <header class="post-header">
        <div class="wrapper">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
            <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
        </div>
    </header>

    <div class="wrapper">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="post-content single" itemprop="articleBody">
                {{ content }}
            </div>
            {% if page.share != false %}{% include share-this.html %}{% endif %}
        </article>
        <div class="pagination">
            {% if page.previous.url %}
            <a class="page-link prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
            <a class="page-link next" href="{{page.next.url}}">{{page.next.title}}</a>
            {% endif %}
        </div>
        <aside>
            {% include comments.html %}
        </aside>
    </div>
</div>
