---
layout: default
---

{% include header.html %}
<div class="page-content">

    <header class="post-header">
        <div class="wrapper">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
            <!--<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>-->
            <p class="post-meta">
                <time datetime="{{ page.startdate | date_to_xmlschema }}" itemprop="startDate">
                    {{ page.startdate | date: "%b, %Y" }}
                </time> - <time datetime="{{ page.enddate | date_to_xmlschema }}" itemprop="endDate">
                    {{ page.enddate | date: "%b, %Y" }}
                </time>{% if page.client %} • <span itemprop="client" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.client }}</span></span>{% endif %}</p>
        </div>
    </header>

    <div class="wrapper">

        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="post-content single" itemprop="articleBody">
                {{ content }}
            </div>

        </article>
        <div class="pagination">
            <a class="page-link prev" href="{{site.baseurl}}/projects">Back to Work</a>
        </div>
    </div>
</div>
